<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>Hospital ES - Área do Paciente</title>

</head>

<body>
    <header>
        <h1>Página do Paciente</h1>
        <p>Painel de gerenciamento de consultas e perfil.</p>
    </header>

    <main>
        <section>
<h2>Buscar médicos por especialização</h2>

<form action="/Dashboard" method="GET">

    <label for="atuacao">Especialização:</label><br>

    <select name="atuacao" id="atuacao">

        <option value="">Selecione</option>

        {{range .Especialidades}}

            <option
                value="{{.}}"

                {{if eq . $.EspecialidadeSelecionada}}
                    selected
                {{end}}
            >
                {{.}}
            </option>

        {{end}}

    </select>

    <br><br>

    <button type="submit">
        Buscar Médicos
    </button>

</form>

<br><br>

{{if .Medicos}}

<h2>Marcar consulta</h2>

<form action="/AgendarConsulta" method="POST">

    <input
        type="hidden"
        name="atuacao"
        value="{{.EspecialidadeSelecionada}}"
    >

    <label for="medico">Médico:</label><br>

    <select name="medico" id="medico">

        {{range .Medicos}}

            <option value="{{.ID}}">
                {{.Nome}}
            </option>

        {{end}}

    </select>

    <br><br>

    <label for="data">Data:</label><br>

    <input type="date" id="data" name="data" required>

    <br><br>

    <button type="submit">
        Finalizar Agendamento
    </button>

    </form>

    {{end}}
            </section>

            <section>
                <h2>Consultas marcadas</h2>
    {{if .Consultas}}

        <ul>

            {{range .Consultas}}

                <li>

                    <strong>Médico:</strong>
                    {{.MedicoNome}}

                    <br>

                    <strong>Especialidade:</strong>
                    {{.Funcao}}

                    <br>

                    <strong>Data:</strong>
                    {{.Data.Format "02/01/2006"}}

                    <br><br>

                </li>

            {{end}}

        </ul>

    {{else}}

        <p>Nenhuma consulta marcada.</p>

    {{end}}        
    </section>

        <section>
            <h3>Gerenciar Perfil</h3>
            <nav>
                <ul>
                    <li><a href="/AtualizarConta">Atualizar conta</a></li>
                    <li><a href="/DeletarConta">Deletar conta</a></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <p>Trabalho Introdução à Programação</p>
    </footer>
</body>
</html>